/.deps
/Makefile
/Makefile.*
/acinclude.m4
/aclocal.m4
/autom4te.cache/*
/build/
/config.*
/configure
/configure.in
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.out
/tests/*.php
/tests/*.sh
/.libs
/modules/
*.la
*.lo
